.navbar{
    background-color: rgb(67, 148, 0);
}
.navbar-brand{
    color: red;
    font-weight: bolder;
    margin-left: 30px;
}
.navbar a{
    color: white;
}
.navbar a:hover{
    color: red;
   
}
first{
    background-color: black;
}
h1{
    color: blueviolet;
    margin-top: 150px;
}
.text-center{
    margin-top: 20px;
    line-height: 1cm;
}
