.main{
    background-color: black!important;
}
.navbar{
    background-color: rgb(67, 148, 0);
}
.navbar-brand{
    color: red;
    font-weight: bolder;
    margin-left: 30px;
}
.navbar a{
    color: white;
}
.navbar a:hover{
    color: red;
   
}
first{
    background-color: black;
}
h1{
    color: rgb(255, 132, 0);
    margin-top: 150px;
}
.text-center{
    margin-top: 20px;
    line-height: 1cm;
    color: aqua;
}
.btn{
    align-items: center;
    color: blue;
    background-color: white;
    margin-left: 230px;
}
.text4{ color: white;
    text-align: center;

}
h2{
    color:rgb(255, 132, 0);
}
h3{
    color: blue;
    font-weight: bolder;
    text-align: center;
}
.t3{
    font-weight: 400;
    line-height: 1rem;
    font-style: italic;
    color: white; 
    letter-spacing: 0.07rem;
    line-height: 1.55rem;
    margin-top: 45px;
}
.js{
    align-items: center;
}

.bangan{
    color: white!important;
}
